:root {
    --columns: 1;
    --rows: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.cell {
    padding: 1em;
    border: 1px solid #ddd;
}